{% extends 'paint/header.html' %}
{% load staticfiles %}
{% load extras %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-5">
        </div>
            <div class="col" style="margin-top:150px; margin-left:25%; margin-right:auto">
                <h1 id="title">About us</h1>
                <p style="font-size:16px">Hello! We are Vanguard and we strive to bring you the best services in the field of education.<br> Our team is comprised of Ilia Parvanov, Chudomir Chenkvo, Georgi Demirev, Stefan Galabov, Dimitar Deyanov.</p>
            </div>
          </div>
          <div class="col">
          </div>
          </div>
        </div>

{% endblock %}
