	h1 {
	        font-family: "Arial"
	        text-align:center;
}
	h2 {
	        font-family: "Arial"
}
	p6 {
	        font-family: "Arial"
	color:green;
	        text-align:center;
}
	.panel-default {
	        background-color: #EFEFEF !important
}
	.panel-default {
	        width:101%
}
	body {
            height: 672px;
			background: -webkit-linear-gradient(#CCFFFF, #0066FF); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(#CCFFFF, #0066FF); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(#CCFFFF, #0066FF); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#CCFFFF, #0066FF); /* Standard syntax */
}
	.center {
	margin: auto;
	width: 51%;
}
    .nav{
        text-align: center;
}

        .navbar{
        padding : 0 25px;
}

        li{
        width:166px;
}